@import '../utils/variables';
@import '../utils/normalize';

html,
body,
#root {
    height: 100%;
}

body {
    background-color: $grey1;
    line-height: 1.5;
}

header {
    background-color: white;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $green1;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.wrap {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 16px;

    &.wrap--header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include break(large) {
            height: 78px;
        }
    }
}

.logo {
    color: black;
    text-decoration: none;

    .logo__wow {
        color: $green1;
        font-size: 18px;
    }
}

.btn {
    text-decoration: none;
    border-radius: 4px;
    padding: 12px 16px;
    transition: background-color .2s linear;

    &.btn-primary {
        color: white;
        background-color: $green1;

        @include break(large) {
            &:hover {
                background-color: lighten($color: $green1, $amount: 5);
            }
        }
    }
}

footer {
    padding: 24px 0;
    margin-top: 24px;
    background-color: $grey2;
    font-size: 12px;
}

