@import '../utils/variables';

.login {
    padding: 40px 0;
    text-align: center;

    @include break(large) {
        padding: 80px 0;
    }
}

.login__title {
    margin: 0 0 12px;
}

.login__image {
    max-width: 80px;
    margin-bottom: 24px;

    @include break(large) {
        max-width: 200px;
    }
}

.login__subtitle {
    margin: 0 0 48px;
    font-size: 18px;
    font-weight: normal;
    color: $grey3;
}