$grey1: #fafafa;
$grey2: #f2f2f2;
$grey3: #8a8a8a;

$green1: #3bb31d;

$break-sm: 400px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1152px;

@mixin break($min-width, $max-width: '') {
    @if $min-width == 'medium' or $min-width == 'large' {
        @if $min-width == 'medium' {
            @media screen and (min-width: $break-md) {
                @content;
            }
        }
        @if $min-width == 'large' {
            @media screen and (min-width: $break-lg) {
                @content;
            }
        }
    }
    @else {
        @if $max-width != '' {
            @media screen and (min-width: $min-width) and (max-width: $max-width) {
                @content;
            }
        }
        @else {
            @media screen and (min-width: $min-width) {
                @content;
            }
        }
    }
}