.feed__list-item {
  margin-top: 24px;
  display: flex;
  align-items: center; }

.feed__list-item__image {
  max-width: 48px;
  max-height: 48px;
  margin-right: 16px;
  flex: 1; }

.feed__list-item__title {
  margin: 0 0 4px;
  font-size: 16px; }

.feed__list-item__link {
  font-style: italic;
  text-decoration: none;
  margin-left: 4px; }

.feed__list-item__subtitle {
  font-size: 14px;
  margin: 0;
  font-weight: normal; }

.feed-loading {
  padding: 24px 0;
  font-style: italic;
  color: #8a8a8a; }

.feed-error {
  padding: 24px 0;
  font-style: italic;
  color: red; }

/*# sourceMappingURL=feed.css.map */
