.login {
  padding: 40px 0;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .login {
      padding: 80px 0; } }

.login__title {
  margin: 0 0 12px; }

.login__image {
  max-width: 80px;
  margin-bottom: 24px; }
  @media screen and (min-width: 1024px) {
    .login__image {
      max-width: 200px; } }

.login__subtitle {
  margin: 0 0 48px;
  font-size: 18px;
  font-weight: normal;
  color: #8a8a8a; }

/*# sourceMappingURL=login.css.map */
